<section class="hero is-success primay  is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://drive.google.com/uc?id=18p5qsA45YD1PWqys9ahDCMtwMRqm60B1&export=view&authuser=0" alt="Logo">
          </a>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              About me
            </a>
            <a class="navbar-item">
              Works
            </a>
            <span class="navbar-item">
              <a class="button is-primary is-inverted">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Download</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
    <div class="section is-large primay">
      <p class="developer ">Developer</p>
      <div class="columns is-gapless">
        <div class="column">
          <p class=" hey-there">Hey There, I’m Lina</p>
         <div class="Buttonbackend">Backend</div>
        </div>
        <div class="column">
         <!--  <img src="https://drive.google.com/uc?id=10fvos7VF2YKjzciphzh_J7HN6FZq35Ox&export=view&authuser=0" alt="Avatar"> -->
        </div>
        <div class="column">
          <p class="textInfo">
            Backend developer with 2 years of experience.
            I handle several programming languages such as PHP
          </p>
        </div>
      </div>
    </div>
</section>

